ol {
font-weight: bold;
font-size: 20pt;
}
h1 {
color: indigo; 
text-align: center; 
}
body {
background-image:url(https://img5.goodfon.ru/wallpaper/nbig/2/e8/fon-oboi-pikseli-kvadrat-zhioltyi.jpg);
}
p {
font-size: 20pt;
color: indigo;
}
h3 {
text-align: center;
color: indigo; 
size:10pt
}
ul {
font-weight: bold;
font-size: 20pt;

}